---
layout: default
---

<!--                                                                 
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<!-- {% include intro.html %}

<hr>

{% include services.html %}

<hr>

{% include testimonial.html %} -->
<section id="counter">
	<div>
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/assets/images/carousel/1280px-Ostensjovannet.jpg)"></div>
				<div class="text-container position-absolute">
					<p>A dream of Spring</p>
				</div>
			</div>
		</div>
	</div>
</section>



