<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-box">
          <img
            width="130"
            src="/assets/images/wtr.png"
            alt="{{site.title}}"
          />
          <p style="width: 225px;">
            Wintry Tech® AS. Copyright© 2024. Wintry Tech® and logo are registered trademarks.
            All rights reserved to owner.
          </p>
          Org.no. 924 958 030
        </div>
      </div>
      <div class="col-md-2">
        <h3>Pages</h3>
        <ul>
          {% for item in site.data.nav %}
          <li><a href="{{item.link}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Contact</h3>      
        <p>Twitter/X:<a href="{{site.twitter}}"> @WintryTech</a></p>
        <p>LinkedIn:<a href="{{site.linkedin}}"> Wintry Tech AS</a></p>
        <p>Facebook:<a href="{{site.facebook}}"> @WintryTech</a></p>
        <!--Start of Tidio.to Script-->
        <!-- {{ site.tidio-chat-script }} -->
        <!--End of Tidio.to Script-->
      </div>
    </div>
  </div>
</footer>
