<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title text-center rev">Our Services</h3>
			</div>
		</div>
		<div class="row">


			{% for item in site.data.services %}
			<div class="col-md-4 col-sm-6">
				<a href="/contact/">
					<div class="serviceBox cards rev">
						<div class="service-icon">
							<span><i class="fa {{item.fa-icon}}" aria-hidden="true"></i></span>
						</div>
						<h3 class="title">{{item.title}}</h3>
						<p class="description">
							{{item.description}}
						</p>

					</div>
				</a>
			</div>

			{% endfor %}
		</div>
	</div>
</section>

<div id="team">

	<div class="team-container">
		<div class="row">
			<div class="col-md-12">
				<h6>Who are we?</h6>
			</div>
		</div>
		<div>
			<div class="individual text-center">
				<img width="100" height="100" class="team-image rounded-circle" src="/assets/images/sirar.png" alt="">
				<h4 class="name">Sirar Salih</h4>
				<p class="position"><small>Founder & CEO</small></p>
				<p><small>Award-winning Computer Engineer (M.Sc.) with over 10 years experience in the tech industry</small></p>
				<ul class="team-social">
					<li><a href="https://twitter.com/sirarsalih"><i class="fa fa-twitter-square fa"></i></a></li>
					<li><a href="https://linkedin.com/in/sirar-salih-0375ab47/"><i class="fa fa-linkedin-square fa"></i></a></li>
					<li><a href="https://github.com/sirarsalih"><i class="fa fa-github-square fa"></i></a></li>
				</ul>
			</div>		
	</div>

	<hr>

	<div class="row text-center">	
		<div class="col-lg-2">
		</div>
		<div class="col-lg-4 history">
			<h6>Our Story</h6>
			<p>At the heart of Wintry Tech AS lies compassion for our people and passion for our clients. We are a new technology consultancy company based in Oslo, Norway. We provide digital consultancy services such as full-stack development, system architecture and business advisory. </p>
			<p>We specialize in development technologies such as Angular, TypeScript, React and the Microsoft stack, including high-class exceptional expertise in C#, Microsoft Azure and .NET Core.</p>
		</div>
	  
		<div class="col-lg-5 goals">
			<h6>Our Goal</h6>
			<p>Our goal is simple. We believe in quality work and we are passionate about our craft, dedicated to building you solid, secure, high-end and resilient systems.</p>
			<p>Our motto is: Compassion for our people, passion for our clients.</p>
		</div>
		<div class="col-lg-2">
		</div>
	</div>	
</div>